* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url('assets/bg.jpeg'); */
    /* background-size: cover; */
    height: 100vh;
    overflow: hidden;
}

/* #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
} */

.taskbar {
    position: absolute;
    bottom: 0;

    width: 100%;
    display: flex;
    justify-content: center;

    background-color: #f3f3f3;

    z-index: 110;
}

.taskright {
    position: absolute;
    right: 0;
    margin: 6px 0;
    height: 83%;
}

.startMenu {
    position: absolute;
    /* bottom: 41px; */
    bottom: -650px;
    text-align: center;
    width: 100%;
    transition: all 0.3s ease-in;
}

.startMenu img {
    border-radius: 8px;
}

.icons {
    padding-top: 5px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons img {
    height: 30px;
    width: max-content;
}